/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("roboto-t.eot");
  src: url("roboto-t.eot@") format("embedded-opentype"), url("roboto-t.woff2") format("woff2"), url("roboto-t.woff") format("woff"), url("roboto-t.ttf") format("truetype"), url("roboto-t.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-t-i.eot");
  src: url("roboto-t-i.eot@") format("embedded-opentype"), url("roboto-t-i.woff2") format("woff2"), url("roboto-t-i.woff") format("woff"), url("roboto-t-i.ttf") format("truetype"), url("roboto-t-i.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-l.eot");
  src: url("roboto-l.eot@") format("embedded-opentype"), url("roboto-l.woff2") format("woff2"), url("roboto-l.woff") format("woff"), url("roboto-l.ttf") format("truetype"), url("roboto-l.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-l-i.eot");
  src: url("roboto-l-i.eot@") format("embedded-opentype"), url("roboto-l-i.woff2") format("woff2"), url("roboto-l-i.woff") format("woff"), url("roboto-l-i.ttf") format("truetype"), url("roboto-l-i.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-r.eot");
  src: url("roboto-r.eot@") format("embedded-opentype"), url("roboto-r.woff2") format("woff2"), url("roboto-r.woff") format("woff"), url("roboto-r.ttf") format("truetype"), url("roboto-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-i.eot");
  src: url("roboto-i.eot@") format("embedded-opentype"), url("roboto-i.woff2") format("woff2"), url("roboto-i.woff") format("woff"), url("roboto-i.ttf") format("truetype"), url("roboto-i.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-m.eot");
  src: url("roboto-m.eot@") format("embedded-opentype"), url("roboto-m.woff2") format("woff2"), url("roboto-m.woff") format("woff"), url("roboto-m.ttf") format("truetype"), url("roboto-m.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-m-i.eot");
  src: url("roboto-m-i.eot@") format("embedded-opentype"), url("roboto-m-i.woff2") format("woff2"), url("roboto-m-i.woff") format("woff"), url("roboto-m-i.ttf") format("truetype"), url("roboto-m-i.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-b.eot");
  src: url("roboto-b.eot@") format("embedded-opentype"), url("roboto-b.woff2") format("woff2"), url("roboto-b.woff") format("woff"), url("roboto-b.ttf") format("truetype"), url("roboto-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-b-i.eot");
  src: url("roboto-b-i.eot@") format("embedded-opentype"), url("roboto-b-i.woff2") format("woff2"), url("roboto-b-i.woff") format("woff"), url("roboto-b-i.ttf") format("truetype"), url("roboto-b-i.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-bl.eot");
  src: url("roboto-bl.eot@") format("embedded-opentype"), url("roboto-bl.woff2") format("woff2"), url("roboto-bl.woff") format("woff"), url("roboto-bl.ttf") format("truetype"), url("roboto-bl.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("roboto-bl-i.eot");
  src: url("roboto-bl-i.eot@") format("embedded-opentype"), url("roboto-bl-i.woff2") format("woff2"), url("roboto-bl-i.woff") format("woff"), url("roboto-bl-i.ttf") format("truetype"), url("roboto-bl-i.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}
/* \Roboto */
