@media all and (max-width: 1390px) {
  header#_lp_block_5339861 {
    position: static;
    top: auto; } }

@media all and (max-width: 1023px) {
  .sale-block-two .sale-block-inner {
    padding: 50px 0;
    min-height: 0; }

  span.seo_zag {
    font-size: 60px; }

  .services__inner .item {
    padding: 20px; }

  .one-good-wrapper .one-good-big-title {
    text-align: center; }

  span.seo_nad {
    display: inline-block;
    padding-bottom: 8px; }

  span.seo_pod {
    font-size: 60px; }

  #_lp_block_4368461 .sale-block-inner {
    min-height: 0; }

  .sale-block-two .arrow-down {
    display: none; } }

@media all and (max-width: 959px) {
  .services__inner {
    padding: 0 10px; }

  .one-good-wrapper .one-good-inner {
    padding: 0 10px; }

  .sale-block-three .sale-block-wrapper .top-part {
    padding-bottom: 0; }

  .sale-block-three .sale-block-wrapper .bottom-part form div {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.map-with-contacts-theme9 .all-map a {
  background: #05f; }

@media all and (max-width: 767px) {
  .sale-block-three .sale-block-wrapper .top-part {
    font-size: 20px; }

  span.seo_glzag {
    font-size: 40px; }

  span.seo_zag {
    font-size: 45px; }

  span.seo_zag_zag {
    font-size: 20px; }

  .foto-gallery-inline--theme9 .foto-gallery-inline-inner {
    padding-bottom: 0; }

  span.seo_pod {
    font-size: 40px; }

  .map-with-contacts-theme9 .contacts {
    margin: 0 auto; }

  span.seo_zag_zag {
    display: inline-block; } }

@media all and (max-width: 480px) {
  .sale-block-two .title {
    font-size: 0; }

  span.seo_glzag {
    font-size: 30px; }

  span.seo_zag {
    font-size: 35px;
    display: inline-block;
    padding-bottom: 15px; }

  .one-good-wrapper .good-desc-block {
    text-align: center; }

  .one-good-wrapper .good-desc-block .seo_markk {
    text-align: left; }

  .top_slider_wrapper.my_slider.center-center .text_wrap {
    margin: 0;
    background: rgba(255, 255, 255, 0.66);
    padding: 10px; }

  .faq_ver2 .faq_ver2_wrapper .faq_ver2_inner .faq-item .faq-item_button-wrap, .faq_ver2 .faq_ver2_wrapper .faq_ver2_inner .faq-item {
    text-align: center; }

  .owl-nav {
    display: none; }

  .products-with-pic--theme9 .block-title, .services__title, .edit_b_wrapper .title, .products--theme9 .block-title, .foto-gallery-inline--theme9 .block-title, .steps-ver2_wrapper .steps-ver2_inner .title, .partners--theme9 .block-title, .partners_bl_wrapper2 .partners_bl_title {
    font-size: 25px; } }
